@use '../../styles/abstracts/variables' as styles;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: styles.$font-inter;
  font-size: 1.6rem;
  font-weight: 400;
  color: styles.$gray-dark-35;
}