@use '../../styles/abstracts/variables' as styles;

* {
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem rgba(styles.$blue, 0.5);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: styles.$font-inter;
  font-size: 1.6rem;
  font-weight: 400;
  color: styles.$gray-dark-35;
  height: 100vh;
}

ul {
  list-style: none;
}

section {
  padding: 4.8rem 0 12.8rem 0;
}

main {
  & > *,
  section {
    height: 100%;
  }
}