<section class="home" *ngIf="games$ | async as games;">
  <div class="container" *ngIf="!loading; else skeleton">
    <h1 class="home__heading h1">{{ title }}</h1>

    <header class="home__header">
      <span class="home__header-title">
        Found<span>{{ totalGames }}</span>games
      </span>

      <app-dropdown [selectedParamValue]="selectedParamValue"></app-dropdown> 
    </header>  

    <div class="home__wrapper"> 
      <ng-container>
        <app-card [game]="game" 
                  *ngFor="let game of games">
        </app-card>
  
        <app-paginator class="home__pagination" 
                      [currentPage]="currentPage"
                      [pageSize]="pageSize"
                      [totalGames]="totalGames">
        </app-paginator>
      </ng-container>
    </div>
  </div>

  <ng-template #skeleton>
    <div class="container">
      <p-skeleton aria-label="title's skeleton"
                class="skeleton mb-32"
                shape="square" 
                borderRadius="0.6rem"
                height="4.8rem"
                width="21.7rem">
    </p-skeleton>

    <header class="home__header">
      <p-skeleton aria-label="count's skeleton" class="skeleton"
                  shape="square" 
                  borderRadius="0.6rem"
                  height="1.8rem"
                  width="17.1rem">
      </p-skeleton>
                  
      <p-skeleton aria-label="dropdows's skeleton" class="skeleton"
                  shape="square" 
                  borderRadius="0.6rem"
                  height="3.8rem"
                  width="9rem">
      </p-skeleton>
    </header>  

    <app-cards-skeleton [pageSize]="pageSize"></app-cards-skeleton>

    <app-pagination-skeleton></app-pagination-skeleton>
    </div>
  </ng-template>
</section>




