<section class="home">
  <div class="container">
    <h1 class="home__heading h1" *ngIf="!load">{{ title ? title : searchedGameTitle }}</h1>

    <p-skeleton class="skeleton mb-32"
                *ngIf="load"
                shape="square" 
                borderRadius="0.6rem"
                height="4.8rem"
                width="21.7rem">
    </p-skeleton>

    <header class="home__header">
      <span class="home__header-title" *ngIf="!load">Found<span>{{ count }}</span>games</span>

      <p-skeleton class="skeleton"
                  *ngIf="load"
                  shape="square" 
                  borderRadius="0.6rem"
                  height="1.8rem"
                  width="17.1rem">
      </p-skeleton>

      <app-dropdown [parameters]="parameters"
                    [selectedParamValue]="selectedParamValue"
                    [load]="load">
      </app-dropdown>
                  
      <p-skeleton class="skeleton"
                  shape="square" 
                  borderRadius="0.6rem"
                  height="3.8rem"
                  width="9rem"
                  *ngIf="load">
      </p-skeleton>
    </header>
    
    <div class="home__wrapper" *ngIf="load">
      <p-skeleton *ngFor="let skeleton of skeletons" 
                  class="skeleton"
                  shape="square" 
                  borderRadius="0"
                  height="39rem">
      </p-skeleton>

      <aside class="home__paginator-skeleton">
        <p-skeleton class="skeleton"
                    shape="circle" 
                    height="3rem"
                    width="3rem">
        </p-skeleton>
      
        <p-skeleton class="skeleton"
                    shape="circle" 
                    height="3rem"
                    width="3rem">
        </p-skeleton>
      
        <p-skeleton class="skeleton"
                    shape="circle" 
                    height="3rem"
                    width="3rem">
        </p-skeleton>
      
        <p-skeleton class="skeleton"
                    shape="circle" 
                    height="3rem"
                    width="3rem">
        </p-skeleton>
      
        <p-skeleton class="skeleton"
                    shape="circle" 
                    height="3rem"
                    width="3rem">
        </p-skeleton>
      </aside>
    </div>

    <div class="home__wrapper" *ngIf="!load">
      <app-card [game]="game" 
                *ngFor="let game of games">
      </app-card>

      <app-paginator class="home__pagination" 
                     [currentPage]="currentPage"
                     [pageSize]="pageSize"
                     [pageCount]="pageCount">
      </app-paginator>
    </div>
  </div>
</section>




