<article class="card" (click)="openGameDetails(game.id)">
  <div class="card__bg-box"
       [class.no-image]="!game.background_image">
    <img *ngIf="game.background_image"
         [src]="game.background_image"
         [alt]="'Image of a game ' + game.name" 
         class="card__bg image">

    <img *ngIf="!game.background_image"
         src="../../../assets/img/no-image.png"
         alt="no image" 
         class="card__bg image">
  </div>

  <div class="card__content">

    <h3 class="card__title" *ngIf="game.name">{{ game.name }}</h3>

    <div class="card__row" *ngIf="game.developers?.length">
      <span class="card__row-label">Developer: </span>

      <span class="card__row-name" 
            *ngFor="let developer of game.developers?.slice(0, 1)">
            {{ developer.name }}
      </span>
    </div>  

    <div class="card__row" *ngIf="game.publishers?.length">
      <span class="card__row-label">Publisher: </span>

      <span class="card__row-name" 
            *ngFor="let publisher of game.publishers?.slice(0, 1)">
            {{ publisher.name }}
      </span>
    </div> 

    <div class="card__row" *ngIf="game.metacritic">
      <span class="card__row-label">Raititng:</span>

      <span class="card__row-name" 
            [ngClass]="{
                'top': game.metacritic >= 75,
                'good': game.metacritic >= 50 && game.metacritic < 75,
                'normal': game.metacritic >= 30 && game.metacritic < 50,
                'bad': game.metacritic > 0 && game.metacritic < 30
            }">{{ game.metacritic }}</span>
    </div>

    <ul class="card__platforms" *ngIf="game.parent_platforms?.length">
      <li class="card__platforms-item" *ngFor="let platform of game.parent_platforms.slice(0, 9)">
        <i class="card__platforms-icon" [inlineSVG]="platform.platform.slug + '.svg'"></i>
      </li>
    </ul>
  </div>

  <div class="card__image-box">
    <img *ngIf="game.background_image"
         [alt]="'Image of a game ' + game.name" 
         [src]="game.background_image"
         class="card__image image">
  </div>
</article>
