@use '../../../../assets/styles/abstracts/variables' as styles;

.p-inputgroup.inputgroup {
  position: relative;
  height: 3.2rem;
  align-items: center;

  input {
    order: unset;
    border: unset;
    height: 100%;
    padding: 0 1.6rem;
    border-radius: 0.4rem;
  }
}

.p-inputgroup-addon:last-child, 
.p-inputgroup.inputgroup button:last-child, 
.p-inputgroup.inputgroup input:last-child, 
.p-inputgroup.inputgroup > .p-inputwrapper:last-child > 
.p-component, .p-inputgroup > 
.p-inputwrapper:last-child > 
.p-component > 
.p-inputtext {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.p-inputgroup-addon:first-child, 
.p-inputgroup.inputgroup button:first-child, 
.p-inputgroup.inputgroup input:first-child, 
.p-inputgroup.inputgroup > 
.p-inputwrapper:first-child > 
.p-component, 
.p-inputgroup.inputgroup > 
.p-inputwrapper:first-child > 
.p-component > 
.p-inputtext {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}