@use '../../abstracts/variables' as styles;

.skeleton {
  &.mb-32 {
    .p-skeleton {
      margin-bottom: 3.2rem;
    }
  }

  &.mb-4 {
    .p-skeleton {
      margin-bottom: 0.4rem;
    }
  }
  
  .p-skeleton {
    display: inline-block;
    background-color: styles.$gray-light;

    &:after {
      background: linear-gradient(90deg, rgba(styles.$gray-dark-55, 0), 
                                         rgba(styles.$gray-dark-55, 0.4), 
                                         rgba(styles.$gray-dark-55, 0))
    }
  }
}