@use '../../../../assets/styles/abstracts/variables' as styles;

.tabview {
  .p-tabview {
    .p-tabview {
      &-nav {
        background-color: transparent;

        li {
          &.p-highlight a {
            background-color: styles.$blue-dark-5;
          }

          a {
            background-color: styles.$blue-dark-10;

            &:not(.p-disabled):focus {
              box-shadow: unset;
            }
          }
        }
      }
  
      &-panels {
        background: linear-gradient(to left top, styles.$blue-dark-5, styles.$blue-dark-10);
      }
    }
  }
}