@use '../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
}

.home {
  background: styles.$main-bg;
  padding: 4.8rem 0 12.8rem 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.2rem;
  }

  &__header-title {
    display: grid;
    grid-auto-flow: column;
    color: styles.$gray-light;
    column-gap: 0.4rem;
    font-weight: 700;

    span {
      color: styles.$blue;
    }
  }

  &__heading {
    margin-bottom: 3.2rem;
  }

  &__wrapper {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 3.2rem;
  }
}
