@use '../../abstracts/variables.scss' as styles;

.card {
  &__platforms-icon {
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;

    svg {
      height: 100%;
      width: 100%;

      path {
        fill: styles.$gray-dark-40;
      }
    }
  }
}