@use '../../../styles/abstracts/variables' as styles;

.gauge-box {
  height: 7.8rem;
  width: 9.8rem;
  display: block;

  &__raiting {
    display: block;
    height: 100%;

    .dial {
      stroke-width: 10;
    }

    .value-text {
      fill: styles.$white;
      font-weight: 700;
      font-size: 2.4rem;
      transform: translateY(-0.6rem);
    }

    .value {
      stroke-width: 10;
    }
  }

  &__link {
    font-size: 2rem;
    color: styles.$white;
    position: absolute;
    top: 5.2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
