<section class="details" *ngIf="game !== undefined">
  <div class="container">
    <div class="details__image-box">
      <img [src]="game.background_image" alt="background image" class="details__img">
    </div>
  
    <div class="details__content">
      <h1 class="details__content-header">{{ game.name }}</h1>
      <span class="details__content-released">{{ game.released | date }}</span>
      <p class="details__content-description">{{ game.description_raw }}</p>
      <ul class="details__content-genres">
        <li *ngFor="let genre of game.genres">{{ genre.name }}</li>
      </ul>
    </div>

    <div class="details__gauge">
      <mwl-gauge
        class="two"
        [max]="100"
        [dialStartAngle]="180"
        [dialEndAngle]="0"
        [value]="gameRating"
        [animated]="true"
        [color]="getColor"
        [animationDuration]="2"
      >
        
      </mwl-gauge>

      <a [href]="game.metacritic_url" target="_blank" class="details__label">Metacritic</a>

      {{ game.metacritic_url | json }}
    </div>
    <!-- tabs -->
  </div>
</section>
