<section class="details" *ngIf="game !== undefined">
  <header class="details__header">
    <div class="details__image-box">
      <img *ngIf="game.background_image" [src]="game.background_image" alt="background image" class="details__img">
    </div>
  
    <div class="details__info">
      <h1 class="details__info-name">{{ game.name }}</h1>
      <div class="details__info-content">
        <span class="details__info-released">Released: {{ game.released | date }}</span>
        <ul class="details__info-genres" *ngIf="game.genres">
          <li *ngFor="let genre of game.genres">{{ genre.name }}</li>
        </ul>
      </div>
      <div class="details__gauge-box gauge-box" *ngIf="gameRating">
        <mwl-gauge
          class="gauge-box__raiting"
          [max]="100"
          [dialStartAngle]="180"
          [dialEndAngle]="0"
          [value]="gameRating"
          [animated]="false"
          [color]="getColor"
          [animationDuration]="2"
        >
          
        </mwl-gauge>
    
        <a *ngIf="game.metacritic_url"
           class="gauge-box__link" 
           [href]="game.metacritic_url" 
           target="_blank">Metacritic</a>
      </div>
    </div>
  </header>
  <!-- tabs -->
</section>
