<p-tabView (onChange)="test($event)" class="tabview">
  <p-tabPanel header="About">
    <div *ngIf="game.platforms.length">
      <span>Platforms: </span>

      <ul *ngFor="let platform of game.platforms">
        <li>
          {{ platform.platform.name }}
        </li>
      </ul>
    </div>
   
    <div *ngIf="game.publishers.length">
      <span>Publishers: </span>

      <ul *ngFor="let publisher of game.publishers">
        <li>
          {{ publisher.name }}
        </li>
      </ul>
    </div>

    <a *ngIf="game.website" 
       [href]="game.website" 
       target="_blank">{{ game.website }}
    </a>
   
    <span *ngIf="game.description_raw">{{ game.description_raw }}</span>

    <ng-container *ngFor="let rating of game.ratings">
      <div *ngIf="rating.title === 'exceptional'">
        <span>Thumbs up:</span>
        <span>{{ rating.count || '---' }}</span>
      </div>

      <div *ngIf="rating.title === 'skip'">
        <span>Thumbs down:</span>
        <span>{{ rating.count || '---' }}</span>
      </div>
    </ng-container>

  </p-tabPanel>

  <p-tabPanel header="Screenshots" *ngIf="game.screenshots">
    <ul>
      <li *ngFor="let screenshot of game.screenshots">
        <img [src]="screenshot.image" [alt]="game + 'screenshot'">
      </li>
    </ul>
  </p-tabPanel>

  <p-tabPanel header="Trailers" *ngIf="game.trailers.length">
    <ul>
      <li *ngFor="let trailer of game.trailers">
        <video controls>
          <source [src]="trailer.data.max" type="video/mp4">
          Your browser does not support HTML video.
        </video>
      </li>
    </ul>
  </p-tabPanel>
</p-tabView>