<p-tabView (onChange)="test($event)">
  <p-tabPanel header="About">
     <span>Platforms: </span>
     <span>Publishers: </span>
     <span>Website: </span>
     <span>Description: </span>
     <span>Thumbs up:</span>
     <span>Thumbs down:</span>
  </p-tabPanel>
  
  <p-tabPanel header="Screenshots">
    <img src="https://www.imgacademy.com/themes/custom/imgacademy/images/helpbox-contact.jpg" alt="img">
  </p-tabPanel>

  <p-tabPanel header="Trailer">
    <iframe src="https://www.youtube.com/embed/u8hY3bckMaA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p-tabPanel>
</p-tabView>