// FONTS
$font-inter: 'Inter', sans-serif;

// COLORS
$black: #000;
$white: #fff;
$gray: #171a21;
$gray-text: #8F98A0;

$blue: #67c1f5;
$blue-dark: #549dc7;
$blue-dark-5: #131e2c;
$blue-dark-10: #1a2b41;

$green: #37b24d;
$orange: #f76707;
$yellow: #f59f00;
$red: #f03e3e;

$acua-dark: #213c55;
$acua-light: #016968;

$gray-dark-5: #181818;
$gray-dark-15: #1b2838;
$gray-dark-35: #343a40;
$gray-dark-40: #2a475e;
$gray-dark-45: #30556f;
$gray-dark-50: #2b4d64;

$gray-light: #c6d4df;
$gray-light-15: #cfd1d3;
$gray-light-25: #eceded;

// TRANSITIONS
$transition-default: all 0.5s;
$transition-smooth: all 0.5s ease-out;

// COMMON
$main-bg: linear-gradient(to bottom, $gray-dark-40, $gray-dark-15);