// FONTS
$font-inter: 'Inter', sans-serif;

// COLORS
$black: #000;
$white: #fff;
$gray: #171a21;

$gray-dark-5: #181818;
$gray-dark-10: #101822;
$gray-dark-15: #1b2838;
$gray-dark-20: #282f38;
$gray-dark-25: #888c91;
$gray-dark-30: #40464e;
$gray-dark-35: #343a40;
$gray-dark-40: #2a475e;

$gray-light-5: #70747a;
$gray-light-10: #c6c8ca;
$gray-light-15: #cfd1d3;
$gray-light-20: #f1f3f5;
$gray-light-25: #eceded;