<aside class="pagination-skeleton">
  <p-skeleton class="skeleton"
              shape="circle" 
              height="3rem"
              width="3rem">
  </p-skeleton>

  <p-skeleton class="skeleton"
              shape="circle" 
              height="3rem"
              width="3rem">
  </p-skeleton>

  <p-skeleton class="skeleton"
              shape="circle" 
              height="3rem"
              width="3rem">
  </p-skeleton>

  <p-skeleton class="skeleton"
              shape="circle" 
              height="3rem"
              width="3rem">
  </p-skeleton>

  <p-skeleton class="skeleton"
              shape="circle" 
              height="3rem"
              width="3rem">
  </p-skeleton>
</aside>
