:host {
  display: block;
  margin-top: 3.2rem;
}

.pagination-skeleton {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 0.8rem;
  justify-content: center;
}


