@use '../../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
}

.card {
  display: grid;
  grid-template-rows: 40rem;
  overflow: hidden;
  box-shadow: 0 2rem 3rem 0 rgba(styles.$black, 0.2);
  transition: styles.$transition-default;
  cursor: pointer;
  position: relative;
  
  &:hover,
  &:active {
    .card {
      &__content {
        bottom: 0;
      }

      &__bg-box {
        opacity: 0.3;
      }

      &__image-box {
        bottom: 50%;
      }
    }
  }

  &__bg-box {
    transition: styles.$transition-smooth;

    &.no-image {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: styles.$gray-light-25;

      span {
        color: styles.$gray-dark-5;
        font-size: 1.8rem;
      }
    }
  }

  &__bg {
    filter: hue-rotate(20deg) brightness(0.95);
  }

  &__content {
    display: flex;
    flex-direction: column;
    transition: styles.$transition-smooth;
    padding: 2.4rem;
    min-height: 50%;
    position: absolute;
    bottom: -60%;
    z-index: 2;
    width: 100%;
    background: linear-gradient( 315deg, styles.$acua-dark 5%, styles.$acua-light 95%);
  }

  &__image-box {
    transition: styles.$transition-smooth;
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: -60%;
  }

  &__title {
    text-overflow: ellipsis;
    width: 30rem;
    font-size: 2.4rem;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 1.6rem;
    color: styles.$white;
  }

  &__row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;

    margin-bottom: 0.8rem;
  }

  &__row-label {
    color: styles.$gray-light-15;
    text-transform: uppercase;
  }

  &__row-name {
    color: styles.$white;
    margin-left: 0.4rem;

    &.top {
      color: styles.$green;
    }

    &.good {
      color: styles.$yellow;
    }

    &.normal {
      color: styles.$orange;
    }

    &.bad {
      color: styles.$red;
    }
  }

  &__subtitle {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    color: styles.$gray-light-15;
  }

  &__platforms {
    margin-top: 0.8rem;
  }

  &__platforms-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 3.2rem;
    width: 3.2rem;
    background-color: styles.$gray-light-15;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 0.4rem;
    }
  }

  &__platforms-icon {
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;
  }
}
